.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3em;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .nav {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1em;

  }
  
  .link {
    text-decoration: none;
    color: #fff;
    margin: auto 2em;

  }
  