.card_container {
    display: flex;
    box-shadow: .2em .2em .8em #000;
    height: 15em;
    margin-bottom: 1.6em;
    padding: 0.3em;
    border-radius: 8px;
  }
  
  .card_imagem {
    background-position: center;
    border-radius: 8px;
  }